<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- button to login page (that directly navigates to login) -->
  <ion-button [routerLink]="['/login']" expand="block">
    Login
  </ion-button>

  <!-- button to dashboard page (calls the 'navToDash()' function from 'src/app/home/home.page.ts') -->
  <ion-button (click)="navToDash()" expand="block">
    Dashboard
  </ion-button>
</ion-content>
